
<!-- pulls the base file here so we can make changes on one page that will reflect on many -->
{% extends 'base.html' %}
{% block content %}

<h2> About the Application </h2>
<p> This application is designed to return stock name and pricing information when a user enters a ticker symbol in the search function. Additionally, the "add stock" link in the navigation bar will utilize a database function to store the ticker symbols when requested as a way of developing a personal portfolio.</p>

<p>The “Manage Portfolio” link is a page designed to show the tickers in the user’s portfolio and allows them to delete them individually as the investment strategy changes over time. Overall, the goal was to utilize an API to get stock information and allow the application to also utilize a database for this information. 
 </p>

{% endblock %}
